<div id="main-table-panel" style="overflow-x: auto; height: inherit">
<h3>Everything is successfully installed. You can start developing 😉</h3>
    <span>{{store.clientKey}}</span>
    <script src="../public/index.js"></script>
/</div>

